@{
    ViewData["Title"] = "Categories";
}
@using Data.Models
@model IEnumerable<Category>

<body>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryName</td>
            <td>@category.Description</td>
        </tr>
    }
    </tbody>
</table>
</body>